 @model QLBH.Models.LoginModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Layout/Layout.cshtml";
}



<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Đăng nhập</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!-- Begin Login Content Area -->
<div class="page-section mb-60">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="login-form">
                        <h4 class="login-title">Đăng nhập</h4>
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="row">                         
                            <div class="col-md-12 mb-20">
                                @Html.LabelFor(model => model.Username)
                                @Html.TextBoxFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12 mb-20">
                                @Html.LabelFor(model => model.Password)
                                @Html.PasswordFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="col-md-12">
                                <button type="submit" class="register-button mt-0">Đăng nhập</button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- Login Content Area End Here -->