@model List<QLBH.Models.CartItem>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Layout/Layout.cshtml";
}

@section jsFooter{
    
<script src="/Content/CustomerContent/js/controller/cartControlller.js"></script>
    }
<!-- Begin Li's Breadcrumb Area -->
<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <ul>
                <li><a href="index.html">Trang chủ</a></li>
                <li class="active">Giỏ hàng</li>
            </ul>
        </div>
    </div>
</div>
<!-- Li's Breadcrumb Area End Here -->
<!--Shopping Cart Area Strat-->
<div class="Shopping-cart-area pt-60 pb-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <form action="#">
                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="li-product-remove">Xóa</th>
                                    <th class="li-product-thumbnail">Ảnh</th>
                                    <th class="cart-product-name">Sản phẩm</th>
                                    <th class="li-product-price">Đơn giá</th>
                                    <th class="li-product-quantity">Số lượng</th>
                                    <th class="li-product-subtotal">Tổng</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td class="li-product-remove"><a href="#" id="btn-delete" data-id="@item.Product.MaSP"><i class="fa fa-times"></i></a></td>
                                        <td class="li-product-thumbnail"><a href="/Product/Detail?id=@item.Product.MaSP"><img src="~/Content/CustomerContent/images/product/large-size/@item.Product.Anh" style="width:150px;height:150px;" alt="Li's Product Image"></a></td>
                                        <td class="li-product-name"><a href="/Product/Detail?id=@item.Product.MaSP">@item.Product.TenSP</a></td>
                                        <td class="li-product-price"><span class="amount">@item.Product.DonGia.GetValueOrDefault(0)</span></td>
                                        <td class="quantity">
                                            <div class="cart-plus-minus">
                                                <input class="cart-plus-minus-box" id="Quantity" value="@item.Quantity" data-id="@item.Product.MaSP" type="text">
                                                <div class="dec qtybutton"><i class="fa fa-angle-down"></i></div>
                                                <div class="inc qtybutton"><i class="fa fa-angle-up"></i></div>
                                            </div>
                                        </td>
                                        <td class="product-subtotal"><span class="amount">@(item.Product.DonGia.GetValueOrDefault(0) * item.Quantity)</span></td>
                                    </tr>
                                }            
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="coupon-all">
                                <div class="coupon">
                                    <input id="coupon_code" class="input-text" name="coupon_code" value="" placeholder="Mã giảm giá" type="text">
                                    <input class="button" name="apply_coupon" value="Áp dụng mã giảm giá" type="submit">
                                </div>
                                <div class="coupon2">
                                    <input class="button" id="btnUpdate" name="update_cart" value="Cập nhật giỏ hàng" type="submit">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>Tổng cộng</h2>
                                <ul>
                                    <li>Subtotal <span>$130.00</span></li>
                                    <li>Total <span>$130.00</span></li>
                                </ul>
                                <a href="#" id="btnPayment">Thanh toán</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--Shopping Cart Area End-->
